<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="mb-4">Compress your folders in a zipfile</h3>
          <%= form_with(model: @zip_converter, url: convert_to_zip_path, method: :post) do |form| %>
            <div class="form-group">
              <%= form.label :folder_path, 'Folder Path', class: 'mb-1 fw-bold' %>
              <%= form.text_field :folder_path, class: 'form-control form-control-lg', placeholder: 'Enter folder path', required: true %>
              <small class="form-text text-muted">Enter the path to the folder you want to zip.</small>
            </div>
            <div class="form-group mt-4">
              <%= form.label :zip_folder_path, 'Zip Folder Path', class: 'mb-1 fw-bold' %>
              <%= form.text_field :zip_folder_path, class: 'form-control form-control-lg', placeholder: 'Enter zip path', required: true %>
              <small class="form-text text-muted">Enter the path for the folder where you want to place the zip file.</small>
            </div>
            <%= form.submit 'Convert to ZIP', class: 'btn btn-primary btn-lg mt-4' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="mb-4">Extract your zipfiles in a folder</h3>
          <%= form_with(model: @zip_extractor, url: extract_from_zip_path, method: :post) do |form| %>
            <div class="form-group">
              <%= form.label :compressed_file_path, 'Zip file Path', class: 'mb-1 fw-bold' %>
              <%= form.text_field :compressed_file_path, class: 'form-control form-control-lg', placeholder: 'Enter folder path', required: true %>
              <small class="form-text text-muted">Enter the path to the zip you want to extract.</small>
            </div>
            <div class="form-group mt-4">
              <%= form.label :extracted_file_path, 'Exracted Folder Path', class: 'mb-1 fw-bold' %>
              <%= form.text_field :extracted_file_path, class: 'form-control form-control-lg', placeholder: 'Enter zip path', required: true %>
              <small class="form-text text-muted">Enter the path for the folder where you want to place the extracted zip file.</small>
            </div>
            <%= form.submit 'Extract ZIP', class: 'btn btn-primary btn-lg mt-4' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>